@media screen and (max-width:850px) {
  .inputBtn{
    font-size: 10px;
    height: 50px;
  }
  #inputContainer{
    font-size: 12px;
    height: 50px;
  }
  .inputBtn:hover{
    font-size: 8px;
  }
}